<!-- 
<p-table [value]="persons">
    <ng-template pTemplate="header" >
        <tr>
            <th > Nombre </th>
            <th > Bio</th>
            <th > Accion </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person let-index="rowIndex" >
        <tr >
            <td>
                   {{person.name}}
            </td>
            <td>
                   {{person.bio}}
            </td>
            <td>
                   <a pButton class="p-button-raised p-button-rounded p-button-danger" 
                   icon="pi pi-trash" label="Eliminar"  (click)="onClickDelete(index, person)"></a>
            </td>
        </tr>
    </ng-template>
</p-table> -->